<header class="flex p-6 w-screen justify-between flex-wrap fixed" [ngClass]="mobileDropdownState?'h-full':''">
  <span class="flex max-md:w-1/2 items-center text-2xl font-fjalla-one"><img class="w-12" src="../../../favicon.ico" alt="PandaCrp icon">PandaCrp</span>
  <div class="w-1/2 md:hidden flex items-center justify-end">
    <div (click)="toggleMobileDropdownState()" class="relative block w-8 aspect-square duration-300" [ngStyle]="{'transform': mobileDropdownState?'rotateZ(360deg)':'rotateZ(-360deg)'}">
      <svg [ngClass]="mobileDropdownState?'opacity-0':'opacity-100'" class="w-8 absolute top-0 left-0 duration-100" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      <svg [ngClass]="mobileDropdownState?'opacity-100':'opacity-0'" class="w-8 absolute top-0 left-0 duration-100" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </div>
  </div>
  <app-navbar class="max-md:w-full max-md:h-full"
    (mobileDropdownStateChange)="toggleMobileDropdownState($event)"
    [dropdownState]="mobileDropdownState"
  ></app-navbar>
</header>
